<p-toast></p-toast>

<p-panel>
    <p-header>
        <b>GESTIÓN DE CURSOS</b>
    </p-header>

    <!-- Filtros alineados verticalmente -->
    <div class="w-20rem">
        <div class="flex flex-column gap-3 mb-2">
            <div class="flex align-items-center gap-2">
                <label for="periodo" class="font-medium mb-1" style="white-space: nowrap">Periodo</label>
                <p-dropdown id="periodo" [options]="periodos" [(ngModel)]="periodoSeleccionado"
                    (ngModelChange)="onFilterChange()" [showClear]="true" placeholder="Selecciona el periodo"
                    class="w-12rem"></p-dropdown>
            </div>
            <div class="flex align-items-center gap-2">
                <label for="areaFormacion" class="font-medium mb-1" style="white-space: nowrap">Area de
                    formación</label>
                <p-dropdown id="areaFormacion" [options]="areasFormacion" [(ngModel)]="areaSeleccionada"
                    (ngModelChange)="onAreaChange($event)" [showClear]="true" placeholder="Selecciona el area"
                    class="w-12rem"></p-dropdown>
            </div>
            <div class="flex align-items-center gap-2">
                <label for="asignaturaInvestigacion" class="font-medium mb-1" style="white-space: nowrap">Asignatura de
                    investigación</label>
                <p-dropdown id="asignaturaInvestigacion" [options]="asignaturas" [(ngModel)]="asignaturaSeleccionada"
                    (ngModelChange)="onFilterChange()" [showClear]="true" placeholder="Selecciona la asignatura"
                    class="w-12rem"></p-dropdown>
            </div>
        </div>
    </div>
    <!-- Buscador y botón en la misma línea, ocupando el ancho -->
    <div class="flex flex-row align-items-center justify-content-between mb-3 w-full">
        <div class="w-6">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="w-full" placeholder="Buscar Curso" (input)="
                        tableCursos.filterGlobal(
                            $event.target.value,
                            'contains'
                        )
                    " />
            </span>
        </div>
        <button pButton label="Agregar Curso" style="min-width: 150px; height: 40px"
            (click)="onAgregarCurso()"></button>
    </div>

    <!-- Tabla -->
    <p-table #tableCursos [value]="cursos" [paginator]="true" [rows]="10" [totalRecords]="cursos?.length || 0"
        [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} cursos"
        styleClass="p-datatable-gridlines p-datatable-striped" [responsiveLayout]="'scroll'"
        [globalFilterFields]="['grupo', 'asignatura', 'docente', 'fecha']">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center" scope="col">Grupo</th>
                <th class="text-center" scope="col">Asignatura Asociada</th>
                <th class="text-center" scope="col">Docentes</th>
                <th class="text-center" scope="col">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>
                <td>{{ curso.grupo }}</td>
                <td>{{ curso.asignatura }}</td>
                <td>{{ curso.docente }}</td>
                <td class="text-left">
                    <div class="flex align-items-center justify-content-start gap-2">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text p-button-info"
                            (click)="onVerCurso(curso)" title="Ver"></button>
                        <button *ngIf="curso.periodoEstado === 'ACTIVO'" pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-warning" (click)="onEditarCurso(curso.id)"
                            title="Editar"></button>
                        <button pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="onEliminarCurso($event, curso.id)" title="Eliminar"></button>
                    </div>
                    <p-confirmPopup></p-confirmPopup>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">No se encontraron cursos</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>